{% extends "layout.html" %}
{% block content %}
    <h2 class="article-title">{{ instance_id }}</h2>
    <p class="article-content">Number of boxes packed:   {{ number_of_boxes }}</p>
    <p class="article-content">Weight remaining:   {{ weight_remaining }} kg</p>
    <p class="article-content">Space remaining:   {{ space_remaining }} %</p>
    <p class="article-content">Space occupied:   {{ 100-space_remaining }} %</p>
    <body>
        <script src="https://threejs.org/build/three.js"></script>
        <script src="http://threejs.org/build/three.min.js"></script>
        <script src="http://threejs.org/examples/js/loaders/STLLoader.js"></script>
        <script src="{{ url_for('static', filename='node_modules/three/build/three.js')}}"></script>
        <script type=module src="{{ url_for('static', filename='node_modules/three/examples/jsm/loaders/OBJLoader.js')}}"></script>
        <script type=module src="{{ url_for('static', filename='node_modules/three/examples/jsm/controls/OrbitControls.js')}}"></script>
        <script type="module" src="{{ url_for('static', filename='cuboids.js')}}"></script>

    </body>
{% endblock content %}
