{% extends "layout.html" %}
{% block content %}
   <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New box</legend>

                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.x.label(class="form-control-label") }}
                    {% if form.x.errors %}
                        {{ form.x(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.x.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{ form.x(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.y.label(class="form-control-label") }}
                    {% if form.y.errors %}
                        {{ form.y(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.y.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{ form.y(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.z.label(class="form-control-label") }}
                    {% if form.z.errors %}
                        {{ form.z(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.z.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{ form.z(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.weight.label(class="form-control-label") }}
                    {% if form.weight.errors %}
                        {{ form.weight(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.weight.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{ form.weight(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.quantity.label(class="form-control-label") }}
                    {% if form.quantity.errors %}
                        {{ form.quantity(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.quantity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{ form.quantity(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.r_x.label(class="form-control-label") }}
                    {% if form.r_x.errors %}
                        {{ form.r_x(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.r_x.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{ form.r_x(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.r_y.label(class="form-control-label") }}
                    {% if form.r_y.errors %}
                        {{ form.r_y(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.r_y.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{ form.r_y(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.r_z.label(class="form-control-label") }}
                    {% if form.r_z.errors %}
                        {{ form.r_z(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.r_z.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}

                        </div>
                    {% else %}
                        {{ form.r_z(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}