{% extends "layout.html" %}
{% block content %}
    {% for packing in packings %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ packing.user_id }}</a>
                    <small class="text-muted">{{ packing.date_created.strftime('%Y-%m-%d') }}</small>
                </div>
                <a class="mr-2" href="#">{{ packing.author }}</a>
                <h2><a class="article-title" href="{{ url_for('packing', packing_id=packing.id) }}">{{ packing.name }}</a></h2>
                <a class="mr-2" href="#">{{ packing.containers }}</a>
            </div>
        </article>
    {% endfor %}
{% endblock %}