{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ packing.date_created.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2 class="article-title"><{{ packing.name }}</h2>
            <p class="article-content">{{ packing.date_created }}</p>
            <div class="container">
                <div class="column">dewf</div>
                <div class="article-metadata">
                    <h2>Containers:</h2>
                    {% for container in packing.containers %}
                        <h2><a class="mr-2" href="#">{{ container.name }}</a></h2>
                    {% endfor %}
                    <h2>Boxes:</h2>
                    {% for box in packing.boxes %}
                        <h2><a class="mr-2" href="#">{{ box.name }}</a></h2>
                    {% endfor %}
                </div>
                <div>

                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('new_container',packing_id=packing.id) }}">Add container</a>
                     <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('new_box',packing_id=packing.id) }}">Add box</a>
                </div>
                <div class="column">fwefew</div>
            </div>
        </div>
    </article>
{% endblock content %}